@charset "utf-8";

/*tipical device point*/
/*
pequenas: até 600px
celular: 600px até 768
tablet: 769 até 992
desktop: 993 até 1200
tv: 1201 pra cima
*/

@media print { /*impressão*/
    /*não aceita background*/
    *{
        font-family: 'Courier New', Courier, monospace;

    }

    main{
        border: 2px solid black;
        width: 90%;
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    main::after{
        content: 'eu que fiz sabosta';
        text-decoration: overline;
    }

    body{
    background-image: url(../imagens/back-print.jpg)
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg)
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px){
    /*tv*/

    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}