@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Boogaloo&family=Bungee+Shade&family=Kaushan+Script&family=Orbitron:wght@400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* poestsen one */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Boogaloo&family=Bungee+Shade&family=Kaushan+Script&family=Orbitron:wght@400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');
/* sriracha */

:root{
    --font1: vertical ,geneva ,tahoma , sans-serif;
    --font2: 'poestsen one', cursive;
    --font3: 'sriracha', cursive;
}

* {
    margin:0px;
    padding:0px
}

html, body{
    min-height:100vh ;
    background-color:darkolivegreen;
    font-family: var(--font1);
}

header{
    background-color: black;
    color:white;
    text-align: center;
    font-family: var(--font2);
}

header >h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}

header>p{
    padding-bottom: 50px; ;
}

header a footer a{
    color: white;
    text-decoration:none;
    font-weight: bolder;
}

header a:hover footer a:hover{
    text-align: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vw;
    line-height: 2;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}

section.normal{
    background-color: white;
    color:black;
}

section.imagem{
    background-color: rgb(24, 23, 23);
    color: white;
}

section.imagem>p{
    background-color: rgba(0, 0, 0, 0.261);
    display: inline-block;
}

footer{
    background-color:black;
    text-align: center;
    color: white;
    padding-top: 10px;

}